@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
:root{
    --black-color: rgb(0,0,0);
    --main-color: rgb(184, 0, 168);
    --sub-color-green: green;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 4rem;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 9999;
}
nav img{
    width: 200px;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 1rem;
}
nav a:hover{
    color: var(--main-color)
}

#order-request{
    color: var(--black-color);
    background-color: white;
    padding: .5rem 2rem;
    border-radius: 40px;
    font-size: .82rem;
}
#order-request:hover{
    background-color: var(--main-color);
    color: #ffffff;
}

#main-banner{
    position: relative;
    font-family: "DM Sans", sans-serif;
}
#main-banner img{
    max-width: 100%;
}
#main-banner-writ{
    position: absolute;
    top: 50%;
    padding-left: 3.5rem;
    color: #ffffff;
}
#main-banner-writ h1{
    font-size: 5rem;
}
#main-banner-writ h2{
    font-size: 5rem;
    margin-top: -25px;
}
#main-banner-writ a{
    font-weight: 600;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(90, 0, 83);
    padding: .95rem 1.75rem;
    border-radius: 40px;
    display: inline-block;
    margin-top: 1.4rem;
}
.menuList{
    display: none;
}
#menu .menuList ul{
    display: block;
    position: absolute;
    top: 30px;
    background-color: #ffffff;
    z-index: 99;
    width: 300px;
    border-radius: 6px;
    padding: 1rem 2rem;
}
#menu .menuList ul li{
    margin-top: .85rem;
}
.menuList a{
    color: var(--black-color);
}
.menuList a:hover{
    color: rgba(210, 210, 210, .95)
}
.dropdown:hover > .menuList{
    display: block;
}



#module{
    height: 100vh;
}


#smiling-section{
    position: relative;
    height: 90vh;
    overflow-y: hidden;
    text-align: center;
}
#smiling-section video{
    width: 100%;
}
#smiling-section img{
    width: 100%;
}
.smiling-section-writ{
    position: absolute;
    top: 32%;
    margin: auto;
    width: 100%;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
}
.smiling-section-writ h1{
    font-size: 5rem;
    font-weight: 500;
    line-height: 65px;
}
.smiling-section-writ a{
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    padding: .6rem 1.1rem;
    border-radius: 40px;
    font-size: 1.15rem;
    font-family: "DM Sans", sans-serif;
}
.smiling-section-writ a:hover{
    background-color: var(--main-color);
    color: #ffffff;
}
.smiling-section-writ p{
    width: 30%;
    margin: 2rem auto;
    font-size: 1.1rem;
}

#success-list{
    display: flex;
    padding: 1.5rem 0;
    font-family: "DM Sans", sans-serif;
}
.success-list-div{
    width: 50%;
}
.success-list-div img{
    height: 650px;
    border-radius: 15px;
}
.success-list-div h1{
    font-size: 4rem;
}
.success-list-header{
    font-size: 1.8rem;
    font-weight: 600;
}
.success-list-body{
    font-size: 1.25rem;
}
.success-list-writ{
    padding: 0 4rem;
}
.success-list-div a{
    text-decoration: none;
    color: #ffffff;
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 3rem;
    border-radius: 50px;
}


.footer{
    background-color: var(--black-color);
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}
.footer-section-one{
    padding: 1rem 3.5rem;
}
.footer-section-one h1{
    font-size: 2.8rem;
}
.footer-section-one a{
    font-size: 1.2rem;
    background-color: #ffffff;
    color: var(--black-color);
    text-decoration: none;
    padding: .5rem 2rem;
    position: relative;
    top: -10px;
    border-radius: 40px;
}
.footer-section-one a:hover{
    color: #ffffff;
    background-color: var(--main-color)
}
.footer-section-two{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    padding: .2rem 3.5rem;
    width: 100%;
}
.footer-section-two > div{
    width: 20%;
}
.footer-section-two ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-section-two .explore{
    display: flex;
    gap: 1.5rem;
}
.explore > div:nth-child(2){
    display: none;
}

.footer-section-two ul a{
    display:inline-block;
    color: #ffffff;
    font-size: .9rem;
    padding-block-end: .3rem;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.footer-section-two p{
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
}
.footer-socials p{
    display: flex;
    gap: 1rem;
}
#footer-form input{
    background-color: rgb(1, 1, 63);
    border: none;
    color: #fff;
    width: 270px;
    padding: .5rem;
    border-bottom: 1px solid #fff;
}
#footer-form button{
    background-color: var(--main-color);
    border: 1px solid #fff;
    font-size: .95rem;
    padding: .2rem 1rem;
    color: #fff;
}
#footer-form button:hover{
    color: #999;
}
.footer-section-two ul .investment{
    background-color: #fff;
}


