@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
:root{
    --main-color: rgb(0, 13, 0);
    --orange-color: rgb(224, 60, 0);
    --sub-color-green: green;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 6rem;
    background-color: black;
}
nav img{
    width: 50px;
}
nav ul{
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
nav a:hover{
    color: rgb(0, 255, 0)
}
#orders{
    display: flex;
    gap: 1.5rem;
}
#order-request{
    color: white;
    background-color: var(--orange-color);
    padding: .5rem 2rem;
    border-radius: 40px;
    font-size: .82rem;
}
#order-request:hover{
    background-color: rgb(0, 150, 0);
}
#whatsapp-request{
    color: antiquewhite;
    background-color: var(--main-color);
    padding: .5rem 2rem;
    border-radius: 40px;
    font-size: .82rem;
}
header i, nav i{
    margin-right: 3px;
}
#main-banner{

}
#main-banner img{
    max-width: 100%;
}
.carousel-item{
    position: relative;
}
.carousel-writ{
    position: absolute;
    top: 0;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0.35),rgba(0,0,0,0));
}
.carousel-writ > div {
    width: 50%;
    margin-top: 12%;
    color: #ffffff;
    padding-left: 6rem;
}
.carousel-writ > div p{
    margin-block: 3rem;
}
.carousel-writ > div a{
    color: white;
    text-decoration: none;
    background-color: var(--orange-color);
    font-size: 1.2rem;
    padding: .75rem 2rem;
}









.footer{
    background-color: var(--main-color);
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}
.footer-section-one{
    padding: 1rem 3.5rem;
}
.footer-section-one h1{
    font-size: 2.8rem;
}
.footer-section-one a{
    font-size: 1.2rem;
    background-color: var(--orange-color);
    color: #ffffff;
    text-decoration: none;
    padding: .5rem 2rem;
    position: relative;
    top: -10px;
}
.footer-section-one a:hover{
    color: #ffffff;
    background-color: rgb(0, 177, 0);
}
.footer-section-two{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    padding: .2rem 3.5rem;
    width: 100%;
}
.footer-section-two > div{
    width: 20%;
}
.footer-section-two ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-section-two .explore{
    display: flex;
    gap: 1.5rem;
}
.explore > div:nth-child(2){
    display: none;
}

.footer-section-two ul a{
    display:inline-block;
    color: #ffffff;
    font-size: .9rem;
    padding-block-end: .3rem;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.footer-section-two p{
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
}
.footer-socials p{
    display: flex;
    gap: 1rem;
}
#footer-form input{
    background-color: rgb(1, 1, 63);
    border: none;
    color: #fff;
    width: 270px;
    padding: .5rem;
    border-bottom: 1px solid #fff;
}
#footer-form button{
    background-color: var(--main-color);
    border: 1px solid #fff;
    font-size: .95rem;
    padding: .2rem 1rem;
    color: #fff;
}
#footer-form button:hover{
    color: #999;
}
.footer-section-two ul .investment{
    background-color: #fff;
}


